<!DOCTYPE html>
<html lang="en" data-theme="dark" id="body" >
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg"> 
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Career Details</title>
<style>
/* Theme */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
  }
}

[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #FFF;
}

:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
</style>
</head>
<body>
    <nav class="container-fluid">
        <ul>
          <li><a href="{% url 'home' %}"><strong><i class='bx bxl-django'></i></strong></a></li>
        </ul>
        <ul>
          <li><a href="https://github.com/pruthivithejan/django-portfolio" target="_blank"><i class='bx bxl-github'></i></a></li>
          <li><a href="https://twitter.com/pruthivithejan" target="_blank"><i class='bx bxl-twitter'></i></a></li>
          <li ><button class="switcher" aria-label="Turn off dark mode" id="ToggleTheme"><i class='bx bxs-sun'></i></button></i></li>
        </ul>
      </nav>
      <main>
        <section class="container">
            <h3>{{ job.title }}</h3>
            <img src="{{ job.image.url }}" alt="Cover Illustration" class="cover-image">
            <p>{{ job.summary }}</p>
        </section>
      </main>
      <footer></footer>
      <script>
        let body = document.getElementById('body');
        const ToggleThemeButton = document.getElementById("ToggleTheme");
        ToggleThemeButton.addEventListener("click", () => {
            if(body.getAttribute("data-theme") === "dark"){
                body.setAttribute("data-theme", "light")  
            }else{
                body.setAttribute("data-theme", "dark")
            }
            
        })
    </script>
</body>
</html>