<!DOCTYPE html>
<html lang="en" data-theme="dark" id="body" >
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Pruthivi's Django Portfolio - Demo</title>

<!--Custom Styles-->
<style>
/* Theme */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
  }
}

[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #FFF;
}

:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/*Custom Classes*/
.avatar{
 border-radius: .25em;
 object-fit: cover;
 width: 300px;
 height: 300px;
}

.cover-image{
 aspect-ratio: 3/2;
 object-fit: cover;
 border-radius: .25em;
 margin-bottom: 1rem;
}

.centered{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.active-none:focus {
    background-color: transparent;
}

i{
    font-size: 1.25rem;
}

</style>

</head>
<body>
    <nav class="container-fluid">
        <ul>
          <li><strong><i class='bx bxl-django'></i></strong></li>
        </ul>
        <ul>
          <li><a href="https://github.com/pruthivithejan/django-portfolio" target="_blank"><i class='bx bxl-github'></i></a></li>
          <li><a href="https://twitter.com/pruthivithejan" target="_blank"><i class='bx bxl-twitter'></i></a></li>
          <li ><button class="switcher" aria-label="Turn off dark mode" id="ToggleTheme"><i class='bx bxs-sun'></i></button></i></li>
        </ul>
      </nav>
    <main >
        <section class="container">
            <div class="centered">
                <img src="{% static 'pruthivi.png'%}" class="avatar" alt="Avatar">
            </div>
            <h1 class="centered">Careers</h1>
            <div class="grid"> 
                {% for job in jobs.all %}
                <a href="{% url 'detail' job.id %}" class="active-none">
                 <article>
                    <h3>{{ job.title }}</h3>
                    <img src="{{ job.image.url }}" alt="Cover Illustration" class="cover-image">
                   {{ job.summary }}
                </article>
                </a>
                {% endfor%}
             </div>
        </section>
     </main>   
    <footer>
        <div class="container-fluid">
            <div>
                <p>hhh</p>
            </div>
        </div>
    </footer>
    <script>
        let body = document.getElementById('body');
        const ToggleThemeButton = document.getElementById("ToggleTheme");
        ToggleThemeButton.addEventListener("click", () => {
            if(body.getAttribute("data-theme") === "dark"){
                body.setAttribute("data-theme", "light")  
            }else{
                body.setAttribute("data-theme", "dark")
            }
            
        })
    </script>
</body>
</html>